vendor/
public/storage
!storage/app/latex_templates
storage/app/public
storage/app/purifier


storage/app/latex_templates/template_abstract\.synctex\.gz

storage/app/latex_templates/template_abstract\.pdf

storage/app/latex_templates/template_abstract\.log

storage/app/latex_templates/template_abstract\.fls

storage/app/latex_templates/template_abstract\.fdb_latexmk

storage/app/latex_templates/template_abstract\.aux

storage/app/latex_templates/caderno_de_resumos/
