!storage/app/latex_templates/*
vendor/
public/storage
storage/app/public/*
storage/app/purifier/*


storage/app/latex_templates/template_abstract\.synctex\.gz

storage/app/latex_templates/template_abstract\.pdf

storage/app/latex_templates/template_abstract\.log

storage/app/latex_templates/template_abstract\.fls

storage/app/latex_templates/template_abstract\.fdb_latexmk

storage/app/latex_templates/template_abstract\.aux

*.aux

*.fdb_latexmk

*.fls

storage/app/latex_templates/caderno_de_resumos/caderno_de_resumos\.pdf

*.idx

*.log

*.ind

*.out

*.ilg

storage/app/latex_templates/caderno_de_resumos/caderno_de_resumos\.synctex\.gz

*.gz
